.main .section-stylist {
    width: 100%;
    min-height: 15rem;
    margin-bottom: 2rem;
}

.main .title {
    margin-bottom: 2rem;
    font-size: var(--font-size);
    color: var(--color-secondary);
}

.main .section-stylist .article-info-styles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    background-color: var(--color-containers);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.main .section-stylist .article-info-styles .container-info {
    display: flex;
    align-items: center;
}

.main .section-stylist .article-info-styles .container-info img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
}

.main .section-stylist .article-info-styles .container-info .info-stylist {
    padding: 1.2rem;
}

.main .section-stylist .article-info-styles .container-info .info-stylist h4 {
    font-size: var(--font-size);
    margin-bottom: 1rem;
}

.main .section-stylist .article-info-styles .container-info .info-stylist p {
    font-size: var(--font-size-menu);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.main .section-stylist .article-info-styles .button-employee {
    padding: 1rem;
    font-size: var(--font-size-menu);
    color: var(--color-white);
    font-weight: 600;
    margin: 0.4rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.main .section-stylist .article-info-styles #button-selected {
    background-color: var(--primary-color);
}

.main .section-stylist .article-info-styles #button-details {
    background-color: var(--color-secondary);
}

@media screen and (max-width: 768px) {

    .section-stylist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
        gap: 1rem;
    }

    .main .section-stylist .article-info-styles,
    .main .section-stylist .article-info-styles .container-info {
        flex-direction: column;
        text-align: center;
    }

    .main .section-stylist .article-info-styles .container-info .info-stylist h4 {
        font-size: var(--font-size-menu);
    }

    .main .section-stylist .article-info-styles .container-info .info-stylist p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 555px) {
    .main .title {
        font-size: var(--font-size-menu);
    }
}