section {
    margin-bottom: 2rem;
}

.main .section-title h1 {
    color: var(--color-card-info1);
    font-size: 4rem;
    font-weight: 500;
}

.main .section-appoint {
    width: 100%;
    min-height: 15rem;
    margin-bottom: 2rem;
}

.main .section-appoint .article-info-appoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    background-color: var(--color-containers);
    border-radius: 1rem;
    margin-bottom: 2rem;
}


.main .section-appoint .article-info-appoint .container-info {
    display: flex;
    align-items: center;
}

.main .section-appoint .article-info-appoint .container-info img {
    width: 17rem;
    height: 12rem;
    border-radius: 1rem;
    object-fit: cover;
    background-size: cover;
}

.main .section-appoint .article-info-appoint .container-info .info-appoint {
    padding: 1.2rem;
}

.main .section-appoint .article-info-appoint .container-info .info-appoint h4 {
    font-size: var(--font-size);
    margin-bottom: 1.5rem;
}

.main .section-appoint .article-info-appoint .container-info .info-appoint a,
.main .section-total .container-total a {
    padding: 0.6rem;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-weight: 600;
    border-radius: 1rem;
}

.main .section-total {
    width: 100%;
}

.main .section-total .container-total {
    background-color: var(--color-containers);
    padding: 1.2rem 2.2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .section-total .container-total p {
    margin-right: 1.5rem;
    font-size: var(--font-size);
    font-weight: 500;
}

.main .section-total .container-total a {
    font-size: var(--font-size-menu);
}

.main .section-appoint .article-info-appoint p {
    font-size: var(--font-size);
    font-weight: 500;
}

@media screen and (max-width: 768px) {

    .section-appoint {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(28rem, 100%), 1fr));
        gap: 1rem;
    }


    .main .section-title h1 {
        font-size: 2.5rem;
    }

    .main .section-appoint .article-info-appoint,
    .main .section-appoint .article-info-appoint .container-info {
        flex-direction: column;
        text-align: center;
    }

    .main .section-appoint .article-info-appoint .container-info .info-appoint h4 {
        font-size: var(--font-size-menu);
    }

    .main .section-appoint .article-info-appoint .container-info .info-appoint p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {

    .main .section-title {
        text-align: center;
    }

    .main .section-title h1 {
        font-size: 1.8rem;
    }

    .main .section-total .container-total {
        justify-content: center;
    }

    .main .section-total .container-total p {
        font-size: var(--font-size-menu);
    }
    
    .main .section-total .container-total a {
        font-size: 1rem;
    }

}